.main-window {
    background-color: red;
}

.colored-row {
    padding-top: 2px;
    padding-bottom: 2px;
}

.colored-row:nth-child(odd) {
    background-color: azure;
}

.colored-row:nth-child(even) {
    background-color: cadetblue;
}

.container-centered {
    vertical-align: middle;
    display: flex;
    min-height: 100%;
    height: 100%;
    align-items: center;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    width: 100%;
    max-width: 100%;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}
.mtb-2{
    margin-top: 2px;
    margin-bottom: 2px;
}
.ptb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}