<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <th:block layout:fragment="headersfragment">
        <th:block th:replace="fragments :: headers-login"></th:block>
    </th:block>
    <title>Login form</title>
</head>
<body>
<div layout:fragment="top-bar"></div>
<div layout:fragment="side-bar"></div>
<div layout:fragment="menubar">
    <div th:replace="fragments :: menu-bar"></div>
</div>
<div layout:fragment="usermenu">
    <div th:replace="fragments :: user-dropdown-menu"></div>
</div>
<div layout:fragment="container">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div id="loginform">
                <!-- Form -->
                <form class="form-horizontal m-t-20" id="formlogin" th:action="@{/login}" th:method="post">
                    <div class="row p-b-30">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-success text-white" id="basic-addon1"><i
                                            class="ti-user"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" placeholder="Username"
                                       aria-label="Username" aria-describedby="basic-addon1" name="username">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning text-white" id="basic-addon2"><i
                                            class="ti-pencil"></i></span>
                                </div>
                                <input type="password" class="form-control form-control-lg" placeholder="Password"
                                       aria-label="Password" aria-describedby="basic-addon1" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row border-top border-secondary ptb-5">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="p-t-20">
                                    <a th:href="@{/register}">
                                        <button class="btn btn-secondary col-5" type="button" onclick="register">
                                            <i class="fa fa-user-plus m-r-5"></i>Register
                                        </button>
                                    </a>
                                    <button class="btn btn-success offset-2 col-5 float-right" form="formlogin" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--<div id="recoverform">-->
            <!--<div class="text-center">-->
            <!--<span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>-->
            <!--</div>-->
            <!--<div class="row m-t-20">-->
            <!--&lt;!&ndash; Form &ndash;&gt;-->
            <!--<form class="col-12" action="html/ltr/index.html">-->
            <!--&lt;!&ndash; email &ndash;&gt;-->
            <!--<div class="input-group mb-3">-->
            <!--<div class="input-group-prepend">-->
            <!--<span class="input-group-text bg-danger text-white"><i class="ti-email"></i></span>-->
            <!--</div>-->
            <!--<input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">-->
            <!--</div>-->
            <!--&lt;!&ndash; pwd &ndash;&gt;-->
            <!--<div class="row m-t-20 p-t-20 border-top border-secondary">-->
            <!--<div class="col-12">-->
            <!--<a class="btn btn-success" id="to-login" name="action">Back To Login</a>-->
            <!--<button class="btn btn-info float-right" type="button" name="action">Recover</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div layout:fragment="additonal-scripts">
    <script>

        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').click(function () {

            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });
    </script>
</div>
</body>
</html>

